<meta charset="UTF-8">
<title>FPGA VS - <%= title %></title>

<link rel="stylesheet" href="/vs/css/bootstrap.min.css">
<link rel="stylesheet" href="/vs/css/all.min.css">
<link rel="stylesheet" href="/vs/css/main.css">

<script src="/vs/js/jquery.min.js"></script>
<script src="/vs/js/bootstrap.bundle.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
